<footer class="site-footer">

  <div class="container-fluid">
	<div class="col">
		

	    <ul class="social-media-list">
	      
	      <li>
	       <a class="icon icon-github" href="https://github.com/b-ry"><span>Github</span></a>
	      </li>

	      <li>
	      	<a class="icon icon-dribbble" href="https://dribbble.com/bryon"><span>Dribbble</span></a>
	      </li>
	      
	      <li>
	      	<a class="icon icon-linkedin" href="https://www.linkedin.com/in/bryon-urbanec-27bb423a?trk=nav_responsive_tab_profile"><span>LinkedIn</span></a>
	      </li>
	     
	    </ul>
    </div>

  </div><!--/wrapper-->

</footer>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>