<header class="site-header clearfix">
  <div class="wrapper">
    {% if page.url == "/" %}
       <a class="site-logo" href="{{ site.baseurl }}/"><img src="/img/theme/bu-logo.svg"/></a>
    {% else %}
       <a class="site-logo" href="{{ site.baseurl }}/"><img src="/img/theme/bu-logo-bw.svg"/></a>
    {% endif %}
    <nav class="site-nav clearfix">
      {% include components/navbars/navbar.html %}
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>


