.portfolio-node .project-header {
	margin-bottom: 4rem;
}

.portfolio-node .project-banner {
	
	@include media-breakpoint-up(lg) {
		margin-right: auto;
		width: 100%;
	}
	@include media-breakpoint-up(xl) {
		margin-right: -40rem;
		width: auto;
	}
}

.portfolio-node .project-banner img {
	margin-bottom: 4rem;
	width: 100%;
	@include media-breakpoint-up(lg) {
		margin-right: auto;
		box-shadow: 3rem 3rem #fff, 3rem -3rem #fff;
	}
}
