<div class="about clearfix">
	<h2 class="section-title">About</h2>
	<div class="row">
		<div class="portrait col-sm-12 col-md-4"><img src="/img/theme/portrait.jpg" alt=""></div>
		<div class="about-content col-sm-12 col-md-8">
			<p>I am a maker focusing on website design and development. I've worked on projects from brochure sites to eCommerce and Web applications. I also enjoy other physical forms of design and development like screen-printing and woodworking.</p>
			<h2></h2>
			<p>I am energized by doing creative work that benefits users. My background is in visual design and I have working knowledge of the user centered design process. I can also get around front-end code. This makes me flexible, able to work both as a designer and a developer but more importantly, effectively communicating with both teams.</p>
			<p><a href="resume">Me, a little more in depth</a></p>
		</div>
	</div>
</div>