%hide-text{
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  height: 0;
  width: 0;
  display: block;
}

.hide-text {
  @extend %hide-text;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}